<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanoda.rbac.mapper.FormMapper">
	
	<select id="getForm" parameterType="int" resultType="com.yanoda.rbac.domain.Form">
		SELECT * FROM form where id=#{formId}
	</select>
	
</mapper>
